body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('images/R.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.image-container a img {
    width: 300px;
    height: auto;
}

h1 {
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent background for readability */
    position: fixed;
    bottom: 0;
    width: 100%;
}

