 body {
     font-family:serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-image: url('images/PalmLeaves.jpeg');
     background-size: cover;
     background-repeat: no-repeat;
     color: #333;
 }

 .container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
     background-color: rgba(249, 243, 243, 0.2);
     border-radius: 10px;
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
 }
 

 h1 {
     font-size: 60px;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
     padding: 20px;
     background-color: rgba(255, 255, 255, 0.2);
     border-radius: 10px;
     margin-bottom: 20px;
     color: rgb(249, 251, 249);
 }

 h2 {
     font-size: 35px;
     text-align: center;
     margin-top: 40px;
     color: #f2f8f3;
     font-family: 'Times New Roman', Times, serif;
 }
 p {
    text-align: center;
     font-size: 25px;
     line-height: 1.6;
     color: #fffdfd;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
   .p-container {
       font-size: 1.1em;
       line-height: 1.6;
       font-family: 'Times New Roman', Times, serif;
       color: #edf3ec;
       padding: 20px;
       background-color: rgba(255, 255, 255, 0.2);
       border-radius: 10px;
       margin-bottom: 20px;
       
       
   }
    .container {
    background-color: rgba(255, 255, 255, 0.0);
    padding: 20px;
    border-radius: 10px;
  }
    ul li {
        text-align: center;
        color: #edf3ec;
        font-size: 18px;
    }
    .image-container {
     display: flex;
     justify-content: center;
     gap: 20px;
     flex-wrap: wrap;
     margin-top: 20px;
 }

 .image-container a {
     flex: 1 1 200px;
     max-width: 300px;
 }

 .image-container a img {
     width: 100%;
     height: 300px;
     object-fit: cover;
     border-radius: 10px;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s ease;
 }

 .image-container a img:hover {
     transform: scale(1.05);
 }

 footer {
     text-align: center;
     padding: 20px;
     background-color: rgba(255, 255, 255, 0.8);
     border-radius: 10px;
     margin-top: 40px;
 }
 

 .contextual-link {
     margin: 20px 0;
     text-align: right;
     font-weight: bold;
 }

 .contextual-link p {
     font-size: 16px;
     color: #333;
 }

 .contextual-link a {
     color: #04ff00;
     text-decoration: underline;
 }

 .contextual-link a:hover {
     color: #ffcc00;

 }

 body {
     margin: 0;
     padding: 0;
 }

 .container {
     display: flex;
     flex-wrap: wrap;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 @media(max-width:768px) {
     .container {
         flex-direction: column;
     }

     .column {
         width: 100%;
     }
 }

 @media (min-width:769px) {
     .coumn {
         width: 50%;
     }
 }