* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('images/PalmLeaves.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
}


.logo img {
    width: 60px;
    height: auto;
}

.toggle-button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
   
}

.nav-links {
    display: flex;
   
}

.nav-links {
    display: flex;
   
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;

        align-items: flex-start;
        
    }

    .nav-links {
        flex-direction: column;
       
        position: static;
        
        background-color: none;
        
        width: 100%;
       
        display: none;
       
    }

    .nav-links.active {
        display: flex;
        /* Show when active */
    }

    .toggle-button {
        display: block;
        
        font-size: 24px;
        
        color: white;
       
    }

    #back-button {
        position: fixed;
        
        top: 20px;
        right: 20px;
        background-color: rgba(255, 255, 255, 0.7);
      
    }

    h1 {
        font-size: 40px;
        
    }

    h2 {
        font-size: 24px;
        
    }
}

.nav-links.active {
    display: block;
}

.nav-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
}

.nav-links ul li {
    margin: 10px 0;
}

.nav-links ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links ul li a:hover {
    color: #ffcc00;
}

#back-button {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
    
}

#back-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
   
}

h1 {
    color: rgb(253, 253, 253);
    text-align: center;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
}

h2 {
    color: rgb(247, 247, 247);
    text-align: center;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}

.p-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1rem;
}